@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &__wrap {
    @include position-center;
    position: absolute;
    width: 260px;
    padding: 24px 20px;
    border-radius: 20px;
    background-color: $gray1;
    z-index: 2;
  }

  &__top {
    width: 100%;
    padding: 36px 0;
  }
  &__text {
    text-align: center;
  }

  &__btm {
    @include flex-box(center, center);
    button {
      @include flex-box(center, center);
      flex: 1 1 auto;
      width: 100%;
      height: 40px;
      border-radius: 24px;
    }
  }
  &__btn-cancel {
    border: 1px solid $primary;
    color: $primary6;
  }
  &__btn-done {
    background: $primary;
    color: $gray1;
  }
}
