@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.btn-create {
  @include flex-box(center, center);
  position: fixed;
  right: 16px;
  bottom: 120px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $gray2;
  box-shadow: shadow-opt(center, 1);
  z-index: 100;

  i {
    display: block;
    width: 32px;
    height: 32px;
    background-color: $gray6;
  }
}