@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.btn-create {
  position: relative;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background: $gradient;
  color: $gray1;
  box-shadow: shadow-opt("bottom", 1);
  text-align: left;

  i {
    display: block;
    width: 24px;
    height: 24px;
    @include position-centerY;
    position: absolute;
    right: 12px;
    background: icon-img("check", $svg-gray1) no-repeat center / auto 20px;
    z-index: 1;
  }
}