@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.main_footer {
  @include flex-box(center, center);
  @include position-centerX;
  @include shadow_opt("top", 2);
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $pc_breakpoint;
  height: 58px;
  padding: 4px 0;
  background: $gray1;
  box-sizing: border-box;
  z-index: z(mainfooter);

  &__btn {
    @include flex_column(center, center);
    @include font_default(14px, 500, $gray6);
    flex: 1 1 25%;
    padding-top: 28px;

    &-home {
      background: icon-img(home, $svg_gray6) no-repeat top center / 24px auto;
    }
    &-game {
      background: icon-img(game, $svg_gray6) no-repeat top center / 24px auto;
    }
    &-mypage {
      background: icon-img(profile, $svg_gray6) no-repeat top center / 24px auto;
    }

    &-home.on {
      @include font_default(14px, 700, $primary);
      background: icon-img(home, $svg_primary) no-repeat top center / 24px auto;
    }
    &-game.on {
      @include font_default(14px, 700, $primary);
      background: icon-img(game, $svg_primary) no-repeat top center / 24px auto;
    }
    &-mypage.on {
      @include font_default(14px, 700, $primary);
      background: icon-img(profile, $svg_primary) no-repeat top center / 24px
        auto;
    }
  }
}
