@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.header {
  @include flex-box(space-between, center);
  @include position-centerX;
  @include shadow-opt("bottom", 1);

  position: fixed;
  top: 0;
  width: 100%;
  max-width: $pc_breakpoint;
  height: 60px;
  padding: 0 12px 0 16px;
  background: $gray1;
  box-sizing: border-box;
  z-index: z("main-header");

  &__logo {
    &_el {
      display: block;
      width: 100px;
      height: 24px;
      background: icon-img("logo", $svg_primary) no-repeat center / auto 100%;
    }
  }

  &__btn {
    display: block;
    width: 40px;
    height: 40px;

    &-alarm {
      background: iconImg(bell, $svg_gray6) no-repeat center / 24px auto;
      text-indent: -9999px;
    }
  }
}
