@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.intro,
.question,
.result {
  width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 520px) {
  .intro,
  .question {
    padding: 60px 20px;
  }

  .result {
    padding: 36px 20px;
  }

  .intro__wrap {
    padding: 24px 20px;
  }
}
.mbti__desc {
  position: relative;
  padding: 4px 0;
  font-size: 16px;

  i {
    @include position-centerY;
    display: block;
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
  }
}
.ico-like {
  background: icon-img("mbtiHeart", "%235b4a42") no-repeat center / auto 16px;
}
.ico-xmark {
  background: icon-img("mbtiXmark", "%235b4a42") no-repeat center / auto 16px;
}
.ico-check {
  background: icon-img("mbtiCheck", "%235b4a42") no-repeat center / auto 16px;
}
