@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.intro,
.question,
.result {
  width: 100%;
  height: 100vh;
}

.question,
.result {
  opacity: 0;
}

.btn-start {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border-radius: 20px;
  background: $primary2;
  font-size: 13px;
  font-weight: 500;
}

.btn-start:hover,
.btn-start:active {
  background: $primary3;
}

.btn-reload {
  background: $mbti1;
}

.btn-reload:hover,
.btn-reload:active {
  background: $mbti3;
}

@media screen and (max-width: 520px) {
  .intro,
  .question {
    padding: 60px 20px;
  }

  .result {
    padding: 36px 20px;
  }

  .intro__wrap {
    padding: 24px 20px;
  }

  .result__wrap {
    height: 240px;
  }
}
