@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.result {
  padding: 60px 36px;
  box-sizing: border-box;

  &__header {
    width: 100%;

    &_box {
      display: block;
      position: relative;
      min-width: 120px;
      width: max-content;
      height: 48px;
      line-height: 48px;
      padding: 0 12px;
      margin: 0 auto;
      border: 2px solid $mbti2;
      border-radius: 8px;
      font-size: 18px;
      font-weight: bold;
      color: $mbti1;
      text-align: center;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 160px;
        height: 2px;
        background: $mbti3;
      }

      &:before {
        right: 100%;
        margin-right: 16px;
      }
      &:after {
        left: 100%;
        margin-left: 16px;
      }
    }
  }
  &__thumb {
    width: 190px;
    margin: 36px auto 20px;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $mbti1;
    text-align: center;
  }
  &__wrap {
    margin: 16px 0 36px;
    padding: 0 8px;
  }
  &__content {
    margin-top: 20px;
  }
  &__box {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid $mbti3;
    box-sizing: border-box;
    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__lst {
    position: relative;
    margin-bottom: 2px;
    font-size: 14px;
    color: $mbti2;
  }
  &__btn_wrap {
    @include flex-box(center, center);

    .btn-reload {
      display: inline-block;
      height: 48px;
      line-height: 46px;
      padding: 0 16px;
      border: 2px solid $mbti1;
      background-color: #ffffe9;
      font-size: 20px;
      font-weight: 700;
      color: $mbti1;
      text-align: center;
    }
  }
}
.result__footer {
  padding: 20px 16px;
  margin-bottom: 40px;
  background: $mbti1;
  box-sizing: border-box;
  &_title {
    padding: 4px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid $gray1;
    h4 {
      color: $gray1;
      text-align: center;
    }
  }

  &_wrap {
    @include flex-box(center, center);
    gap: 8px;
  }
  &_box {
    position: relative;
    padding: 16px 10px;
    box-sizing: border-box;
    z-index: 5;

    h4 {
      align-self: flex-start;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
    p {
      width: 100%;
      padding: 6px 0;
      margin-bottom: 8px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
    }
    span {
      display: inline-block;
      height: 40px;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
  }
}
