@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.select__wrap {
  @include flex-column(center, center);
  width: 100%;
  height: 100vh;
}
.select__title {
  @include font_default(32px, 700, $gray8);
  margin-bottom: 4px;
  text-align: center;
}
.select__sub {
  @include font_default(20px, 500, $gray6);
  margin-bottom: 20px;
  text-align: center;
}
.select__btn {
  @include flex-box(center, center);
  gap: 8px;

  button {
    width: 56px;
    height: 56px;
    border: 2px solid #000;
    border-radius: 8px;
  }
  &-dog {
    background: #ffe9e9 icon-img("dog", "%23EA8AA1") no-repeat center / auto 80%;
  }
  &-cat {
    background: #e9ffe9 icon-img("cat", "%2375B884") no-repeat center / auto 80%;
  }
}
.table__wrap {
  @include flex-box(center, center);
  width: 100%;
  height: 100vh;
}
.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
  width: max-content;
  margin: 0 auto;

  &__block {
    @include flex-box(center, center);
    width: 80px;
    height: 80px;
    border: 1px solid #000;

    &-dog {
      background: #ffe9e9 icon-img("dog", "%23EA8AA1") no-repeat center / auto
        80%;
      pointer-events: none;
    }
    &-cat {
      background: #e9ffe9 icon-img("cat", "%2375B884") no-repeat center / auto
        80%;
      pointer-events: none;
    }
  }
}
.result {
  @include flex-column(center, center);
  @include position-centerX;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;

  &__txt {
    @include font_default(24px, 700, $gray8);
    margin-bottom: 16px;
  }
}
.btn-reload {
  @include font_default(20px, 700);
  display: inline-block;
  height: 48px;
  line-height: 46px;
  padding: 0 16px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #ffffe9;
  text-align: center;
}
