$primary: #008fa0;

$primary1: #f5fbfb;
$primary2: #e6f4f6;
$primary3: #cce9ec;
$primary4: #80c7d0;
$primary5: #4db1bd;
$primary6: #1f9dac;
$primary7: $primary;
$primary8: #007280;
$primary9: #005660;
$primary10: #003940;

$secondary1: #ecf3f4;
$secondary2: #d2e0e2;
$secondary3: #a8b3b5;

$gradient: linear-gradient(to right, #008fa0 0%, #00cfcd 92%);

$gray1: #ffffff;
$gray2: #fafafa;
$gray3: #e3e3e3;
$gray4: #cfcfd2;
$gray5: #b7b6bb;
$gray6: #7b7a84;
$gray7: #494854;
$gray8: #2e2e2e;

$mbti1: #5b4a43;
$mbti2: #cca290;
$mbti3: #87736a;

$mbti_secondary1: #425240;
$mbti_secondary2: #e0f0e2;