@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;
.board_form {
  padding: 32px 18px;
  box-sizing: border-box;
  &__photo {
    margin: 48px 0 36px;
    &_title {
      @include font_default(13px, 400, $gray5, -0.05em);
      margin-bottom: 12px;
    }
    &_box {
      @include img_cover(100px, 100px, 12px);
      display: block;
      position: relative;
      margin-right: 8px;
      background: #fff;
    }
  }
  &__chk {
    margin-bottom: 48px;
  }
  &__btn {
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin-top: 8px;
    border-radius: 22px;

    &-active {
      @include flex-box(center, center);
      @include font_default(16px, 700, #fff, -0.05em);
      background: $primary;
      text-align: center;
    }
  }
  &__input {
    display: none;
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: $gray2;
  }
}
