@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.pc {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}

@media screen and (min-width: 520px) {
  body {
    position: relative;
    width: 100%;
    background: $pc_bg !important;
    overflow-y: scroll;
  }
  .pc {
    width: $pc_breakpoint;
    margin: 0 auto;
    border-left: 1px solid $pc_border;
    border-right: 1px solid $pc_border;
  }
}
