@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.detail {
  position: relative;
}
.card {
  padding: 0 20px;
  background: #fff;

  &__content {
    margin-bottom: 12px;
  }
  &__photo {
    margin-bottom: 20px;

    &_box {
      @include img_cover(100%, 160px, 12px);
    }
    &_pagination {
      @include flex_box(center, center);
      margin: 8px 0;
    }
  }
  &__title {
    @include font_default(16px, 700, $gray8);
    margin-bottom: 4px;
  }
  &__txt {
    @include font_default(14px, 500, $gray6);

    &-cut {
      @include ellipsis;
      width: 100%;
    }
  }

  &__info {
    margin-top: 16px;
    p {
      display: flex;
      height: 22px;
      line-height: 22px;
    }
    &-cmt {
      @include font_default(13px, 500, $gray6);
      padding-left: 22px;
      background: icon-img(msg, $svg_gray6) no-repeat left center / auto 16px;
    }
  }

  &__like {
    @include flex_box(flex-start, center);
    margin-top: 20px;

    &_list {
      @include flex_box(flex-start, center);
    }
    &_lst {
      @include img_cover(32px, 32px);
      margin-right: -8px;
      border: 1px solid $gray1;

      &:last-child {
        margin-right: 8px;
      }
    }
    &_txt {
      @include font_default(13px, 700, $gray6);
    }
  }

  &__btn_wrap {
    @include flex-box(space-between, center);
    gap: 4px;
  }
  &__btn {
    flex: 1 1 calc(50% - 4px);
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    &-active {
      @include font_default(14px, 700, #fff);
      background: $primary;
    }
    &-inactive {
      @include font_default(14px, 700, $primary6);
      line-height: 38px;
      border: 1px solid $primary4;
    }
    &-disabled {
      @include font_default(14px, 700, $gray5);
      background: $gray2;
    }
  }
}
.card__user {
  position: relative;
  margin-bottom: 16px;
  .user__thumb {
    width: 30px;
    height: 30px;
  }
  .user__info {
    @include font_default(16px, 700, $primary);
    padding-left: 8px;
  }
  .card__date {
    @include position-centerY;
    @include font_default(13px, 500, $gray6);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
  }
}
