@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.comment {
  margin: 24px 0 0;

  &__title {
    margin-bottom: 8px;
    padding-left: 20px;
    span {
      color: $primary;
    }
  }
  &__box {
    @include flex-box(center, center);
    gap: 8px;
    position: relative;
    padding: 0 20px;
  }

  &__input {
    flex: 1 1 auto;
    height: 90px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid $gray3;
    background: $gray2;
  }
  &__btn-send {
    flex: 0 0 60px;
    height: 90px;
    border-radius: 12px;
    background-color: $primary;
    color: $gray1;
  }
  &__btn-edit {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    right: 12px;
    height: 28px;
    line-height: 26px;
    margin-bottom: 4px;
    padding: 0 8px;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $primary;
    text-align: center;
  }

  &__list {
    margin-top: 12px;
    border-top: 1px solid $gray3;
  }
  &__lst {
    @include flex-box(flex-start, center);
    position: relative;
    width: 100%;
    border-bottom: 1px solid $gray3;
  }
  &__check {
    flex: 0 0 auto;
    width: 40px;
    height: 60px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &:checked ~ label {
        background: icon-img("check", $svg-primary) no-repeat center / auto 20px;
      }
    }
    label {
      display: block;
      width: 40px;
      height: 100%;
      background: icon-img("check", $svg-gray4) no-repeat center / auto 20px;
    }
  }
  &__wrap {
    @include flex-box(flex-start, center);
    position: relative;
    width: 100%;
    padding: 16px 24px;
  }
  &__thumb {
    @include img-cover(44px, 44px);
    flex: 0 0 44px;
  }
  &__info {
    padding-left: 8px;
  }
  &__nick {
    margin-bottom: 4px;
    color: $gray6;
  }
  &__content {
    color: $gray8;
  }
  &__option {
    @include flex-box(flex-end, center);
    gap: 4px;
    position: absolute;
    top: 4px;
    right: 12px;
  }
  &__time {
    flex: 0 0 auto;
    color: $gray5;
  }
  &__btn-del {
    display: block;
    width: 32px;
    height: 32px;
    background: icon-img('trash', $svg-gray6) no-repeat center / auto 16px;
  }

  &__edit {
    @include flex-box(flex-end, center);
    gap: 4px;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 12px;

    button {
      @include flex-box(center, center);
      @include font_default(13px, 500);
      height: 32px;
      padding: 0 6px;
      border-radius: 4px;
    }
    &-done {
      background-color: $primary;
      color: $gray1;
    }
    &-cancel {
      background: $gray3;
      color: $gray6;
    }
  }
}
