@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.card {
  padding: 20px 24px;
  &__wrap {
    @include flex-box(flex-start, center);
    position: relative;
    width: 100%;
    padding: 12px 16px;
    border-radius: 20px;
    background-color: $gray1;
    @include shadow-opt(center, 1);
  }
  &__thumb {
    display: block;
    margin-right: 8px;
    @include img-cover(48px, 48px, 20px, $gray3);
  }
  &__btn {
    display: block;
    position: absolute;
    right: 16px;
    @include position-centerY;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $gray3;
  }
}
