@use "@/assets/scss/abstracts" as *;
@use "@/assets/scss/mixins" as *;

.btn__wrap {
  @include flex-box(center, center);
  padding: 16px 20px;
  margin-bottom: 40px;

  button {
    flex: 1 1 50%;
    height: 32px;
    border-right: 1px solid $gray5;

    &:last-child {
      border-right: 0;
    }
  }
}
